@import "fonts/font.css";
* {
  color: white;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}
#main {
  transition: opacity 2s ease;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -185.4px;
  width: 600px;
  height: 370.8px;
}
#main.hide {
  opacity: 0;
}
.slogan {
  font-family: mtco, Arial, '宋体', serif;
}
.slogan .mt {
  font-size: 30px;
  margin-bottom: 10px;
}
.slogan .more {
  margin-right: 30px;
}
.slogan .than {
  margin-right: 30px;
}
.slogan .than.than-t {
  margin-left: 26px;
}
.slogan .code {
  position: relative;
  left: -28px;
}
.slogan .code .code-c {
  font-size: 140px;
}
.slogan .code .code-o {
  font-size: 146px;
}
.slogan .code .code-d {
  font-size: 148px;
}
.slogan .code .code-e {
  font-size: 141px;
}
.me {
  font-family: Arial, serif;
  font-size: 16px;
  position: absolute;
  left: 2px;
  bottom: 0;
  border-left: 2px solid white;
  padding-top: 2px;
  letter-spacing: 0.05em;
}
.me .title {
  margin-top: 6px;
}
.me a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 0 8px;
}
.me a:hover {
  text-decoration: underline;
}
.me a:not(:first-child) {
  border-left: 2px solid white;
}
.author {
  position: absolute;
  right: 0;
  bottom: -1px;
  font: italic 23px KaiTi;
}
.song {
  font: 30px KaiTi;
  position: absolute;
  width: 80px;
  height: 340.8px;
  top: -3px;
  right: 0;
}
.song .line {
  position: absolute;
  top: 0;
  width: 30px;
  height: 280.8px;
  word-break: break-all;
  overflow: hidden;
}
.song .line.line-a {
  right: 0;
}
.song .line.line-b {
  right: 50px;
}
