html,
body {
  width: 100%;
  height: 100%;
  background: black;
  background-color:#fff;
  font-family: 'PT Sans', sans-serif;

}
p{
  color: #9A9A9A;
}
.mian{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.logo{  
  padding-top: 60px;
}
.info{
  padding-top: 50px;
}
.name{
  padding-top: 80px;
}
.nav{
}
.nav a{
  color: #9A9A9A;
  text-decoration: none;
}
.nav a:hover{
  color: #63BE92;
}
@media only screen and (min-width:1024px) {
  .logo img{  
    width: 10%;
  }
  .info img{
  width: 25%;
}
} 
@media only screen and (min-width:500px) and (max-width: 1024px){
  .logo img{  
    width: 20%;
  }
  .info img{
  width: 40%;
}
} 
@media only screen and (max-width: 375px){
  .logo img{  
    width: 50%;
  }
  .info img{
  width:70%;
}
} 