@font-face {
  font-family: raiders;
  src: url(raiders.ttf);
}

@font-face {
  font-family: sourcesan;
  src: url(SourceSansPro-ExtraLight.ttf);
}

@font-face {
  font-family: mtco;
  src: url(mtco.ttf);
}